/* p {
    font-size: 20px;
} */

/* .magenta {
    color:  magenta;
}

.azul {
    color:  blue;
} */

/* #primer {
   font-size:  25px;
}

#ultimo {
    font-size:  15px;
} */

/* body {
    margin: 50px auto; 
    max-width: 500px;
} */

/* body {
    font-family: 'Courier New', Courier, monospace;
} */
